/* variables */
/* Animation fade-in pour le texte d'intro */
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:root {
    --bd: #171719;
    --hd: #0161B7;
    --txt: #f8f9fa;
}

body {
    color: var(--txt) !important;
    background-color: var(--bd) !important;
    font-family: 'Open Sans', Arial, sans-serif;
}

span {
    color: #BB101E;
    font-weight: bold;
}

.bt {
    color: var(--txt);
}

header {
    background-color: var(--hd);
}

a {
    text-decoration: none;
}